Repository attila-tamas/jirelo-fullstack: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.ts": ["prettier --write", "eslint --fix"],
  "**/*.vue": ["prettier --write", "eslint --fix", "stylelint --fix"],
  "**/*.scss": ["prettier --write", "stylelint --fix"],
  "**/*.(md|json)": "prettier --write"
}

chore: disable nuxt telemetry
  nuxt.config.ts
Due: prettier --write, eslint --fix

chore: add stylelint
  .stylelintrc
  package-lock.json
  package.json
Due: none

refactor: rename pxToRem() to px-to-rem()
  assets/css/partials/_typography.scss
  assets/css/utils/_functions.scss
Due: prettier --write, stylelint --fix

style: format code
  assets/css/partials/_fonts.scss
  assets/css/partials/_reset.scss
Due: prettier --write, stylelint --fix

chore: add postcss-preset-env plugin
  nuxt.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore: update eslint config
  .eslintrc
  nuxt.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore: add vuetify
  app.vue
  assets/css/partials/_index.scss
  assets/css/partials/_reset.scss
  assets/css/settings.scss
  constants/colors.js
  middleware/redirect.global.ts
  nuxt.config.ts
  package-lock.json
  package.json
  pages/index.vue
  pages/login.vue
  vuetify.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: add tailwindcss
  .lintstagedrc
  .prettierrc
  .stylelintrc
  assets/css/partials/_index.scss
  assets/css/partials/_typography.scss
  assets/css/utils/_functions.scss
  nuxt.config.ts
  package-lock.json
  package.json
  tailwind.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: add Nuxt Image module
  nuxt.config.ts
  package-lock.json
  package.json
  tailwind.config.ts
Due: prettier --write, eslint --fix

feat: add logo component
  components/FullLogo.vue
  public/images/logo.webp
Due: prettier --write, eslint --fix, stylelint --fix

chore: add css reset
  assets/css/partials/_index.scss
  assets/css/partials/_reset.scss
  assets/css/settings.scss
Due: prettier --write, stylelint --fix

chore: add constants
  constants/colors.js
  constants/index.js
  constants/screens.js
  nuxt.config.ts
  tailwind.config.ts
  vuetify.config.ts
Due: prettier --write, eslint --fix

fix: FullLogo component image blur
  components/FullLogo.vue
Due: prettier --write, eslint --fix, stylelint --fix

feat: add register page template
  components/ButtonLoader.vue
  components/registration/InitialForm.vue
  components/registration/MainForm.vue
  middleware/redirect.global.ts
  pages/login.vue
  pages/register.vue
  utils/validators.ts
  vuetify.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: disable vue/no-unused-vars eslint rule
  .eslintrc
Due: none

chore: remove empty blocks from FullLogo comp
  components/FullLogo.vue
Due: prettier --write, eslint --fix, stylelint --fix

chore: add optional props to ButtonLoader comp
  components/ButtonLoader.vue
Due: prettier --write, eslint --fix, stylelint --fix

feat: add animations to register page
  components/AutoAnimate.vue
  nuxt.config.ts
  package-lock.json
  package.json
  pages/register.vue
Due: prettier --write, eslint --fix, stylelint --fix

feat: add autofocus to register form email input
  components/registration/InitialForm.vue
  components/registration/MainForm.vue
Due: prettier --write, eslint --fix, stylelint --fix

chore: use css icons
  nuxt.config.ts
  package-lock.json
  package.json
  pages/register.vue
  uno.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: change light theme background color
  constants/colors.js
Due: none

chore: upgrade nuxt to v3.9
  nuxt.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore: upgrade vuetify-nuxt-module to v0.8
  package-lock.json
  package.json
Due: none

chore: improve color and theme handling
  constants/colors.js
  constants/index.js
  constants/screens.js
  constants/themes.js
  vuetify.config.ts
Due: prettier --write, eslint --fix

chore: remove files from tailwind content config
  tailwind.config.ts
Due: prettier --write, eslint --fix

feat: add InputHint comp
  components/InputHint.vue
  vuetify.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: add InputSuggestion comp
  components/InputSuggestion.vue
Due: prettier --write, eslint --fix, stylelint --fix

feat: add InputField comp
  components/InputField.vue
  components/registration/InitialForm.vue
  components/registration/MainForm.vue
  package-lock.json
  package.json
  pages/register.vue
  utils/emailSpellChecker.ts
  utils/validators.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: add password type to InputField comp
  components/InputField.vue
  components/registration/MainForm.vue
Due: prettier --write, eslint --fix, stylelint --fix

chore: add pinia
  components/registration/InitialForm.vue
  components/registration/MainForm.vue
  nuxt.config.ts
  package-lock.json
  package.json
  pages/register.vue
  stores/Registration.ts
  utils/codeTable.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: extend v-btn as VButton comp
  components/ButtonLoader.vue
  components/VButton.vue
  components/registration/InitialForm.vue
  components/registration/MainForm.vue
  pages/register.vue
Due: prettier --write, eslint --fix, stylelint --fix

save: theme switch
  components/InputField.vue
  components/ThemeToggle.vue
  composables/useSystemTheme.ts
  constants/colors.js
  constants/index.js
  constants/themes.js
  nuxt.config.ts
  pages/register.vue
  stores/System.ts
  tailwind.config.ts
  utils/capitalize.ts
  utils/codeTable.ts
  vuetify.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: add theme switch
  app.vue
  components/ThemeToggle.vue
  composables/useSystemTheme.ts
  constants/colors.js
  constants/themes.js
  nuxt.config.ts
  package-lock.json
  package.json
  pages/register.vue
  stores/System.ts
  tailwind.config.ts
  utils/capitalize.ts
  utils/codeTable.ts
  vuetify.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: update packages
  package-lock.json
  package.json
Due: none

feat: change disabled VButton color
  components/VButton.vue
Due: prettier --write, eslint --fix, stylelint --fix

chore: limit VButton variants
  components/VButton.vue
Due: prettier --write, eslint --fix, stylelint --fix

feat: change ButtonLoader width
  components/ButtonLoader.vue
Due: prettier --write, eslint --fix, stylelint --fix

feat: change InputSuggestion hover style
  components/InputSuggestion.vue
Due: prettier --write, eslint --fix, stylelint --fix

ref: InputField appendInnerIcon to computed
  components/InputField.vue
Due: prettier --write, eslint --fix, stylelint --fix

ref: delete ThemeToggle comp
  components/ThemeToggle.vue
Due: prettier --write, eslint --fix, stylelint --fix
